@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
input[type=submit] {
-webkit-appearance: none;
border-radius: 0;}

body {

            font-family: "Lora", serif; "Montserrat", YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
            color: #333;
            font-weight: 700;
            font-style: normal;
            margin: 0;
            padding: 0;
            
  min-height: 100%;
  display: flex;
  flex-direction: column;

            }
h1,
h3,
h4,
h5,
p,
{
　　padding: 0;
    margin: 0;}


h2 { 
    padding: 0;
    margin: 0;
    border-bottom: 3px solid #aaa; 
   color: #aaa;
 }

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
     width: 100%;       
}

/* 全体のリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

/* フレックスボックスを使ってフッターを固定 */
.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;/*←相対位置*/
    padding-bottom: 100px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.content {
    flex: 1; /* メインコンテンツがある部分は自動的にスペースを占める */
}

/* フッター全体のスタイル */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
     width: 100%;       
position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
text-align: center;
}

.site-name h2 {
    margin: 0;
    font-size: 24px;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
}

.social-media img {
    width: 32px;
    height: 32px;
}

.footer-bottom {
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 14px;
    color: #aaa;
}


